
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Sans serif', cursive ;
}

h1 {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;
} 

.main {
    min-height:100vh;
}
.main header {
    display: flex;
    height: 15vh;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px; 
    position: fixed;
    left: 0;
    top: 0;
    right: 0; 
    z-index: 997; 
} 


.main header h1 span {
    color: #3862ec;
    font-family: 'Sans serif', cursive ;
}

.main header button , .main .login button{
    color: #fff;
    background: #3862ec;
    padding: 7px 22px;
    border-radius: 50px;
    border: 2px solid #3862ec;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    line-height: 1;
    font-size: 13px;
    white-space: nowrap;
}

.main header button:hover , .main .login button:hover {
    background: none;
    color: #fff;
  }


.main .chatContainer {
    overflow: auto;
    position: fixed;
    max-height: 85vh;
    bottom: 0;
    left: 0;
    right: 0; 
}
.main .chatsList {
    padding: 0px 45px;
} 
.main .chatsList h3 {
    opacity: 0.5;
    text-align: center  ;
}
.chatsList .chatBox {
    display:flex;
    flex-direction:row;
    margin:15px 0px;
}
.chatsList .chatBoxReceiver {
    justify-content: start;
}
.chatsList .chatBoxSender {
    justify-content: end;
}
.chatsList .chatBox img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.chatsList .chatBox p {
    font-size: 16px;
    margin:5px 14px;
    padding:10px;
    color:#333333;
    border-radius:15px;
    max-width: 40%;
    white-space: wrap;
    word-wrap: break-word;
}
.chatsList .chatBoxReceiver p {
    background-color:#b8c998;
}
.chatsList .chatBoxSender p {
    background-color:#fff;
}
.chatsList .chatBox p strong {
    font-size: 15px;
    color: #3862ec;
}
.main .inputText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px;
}
.inputText textarea {
    width :60% ;
    height: 70px;
    border-width: 0px;
    padding:10px;
    font-size: 18px;
    border-radius: 10px 0px 0px 10px;
}
.inputText button {
    color: #3862ec;
    height: 70px;
    width: 175px;
    border: 2px solid #3862ec;
    background: none;
    transition: all ease-in-out 0.3s;
    border-radius: 0px 50% 50% 0px ;
    opacity: 0.5;
}

.inputText button:hover {
    opacity: 1;
}

.login {
    padding-top: 225px;
}

.login h1 {
    text-align: center;
    margin-bottom: 45px;
}
.login input {
    margin:10px;
    padding:2px 5px;
    height:30px;
    width:40%;
    border-radius:10px;
    font-size:18px;
}
.login .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .profil {
    margin: 45px 0px;
}



@media screen and (max-width:936px) {
    h1 {
        font-size: 24px;
        letter-spacing: 0px;
    } 
    
    .main .chatsList {
        padding: 0px 20px;
    }


    .inputText textarea {
        height: 60px;
        font-size: 16px;
    }

    .inputText button {
        height: 60px;
        width: 125px;
    }
    
    
}

@media screen and (max-width:698px) { 
    .main header {
        padding: 0px 15px;
    }
    .main header h1 span {
        display: none;
    }

    .main header button {
        padding: 3px 10px;
        line-height: 1;
        white-space: nowrap;
    }
    .main .chatsList {
        padding: 0px 15px;
    } 


    .inputText textarea {
        height: 45px;
        padding:5px;
        font-size: 14px;
    }

    .inputText button {
        height: 45px;
        width: 75px;
    }
    .chatsList .chatBox p {
        font-size: 14px;
    }
    .login .profil {
        flex-direction: column;
    }
    .login input {
        font-size: 14px;
    }
}
